<html>
<body>
<h2>Hi ${user.userName}!</h2>

<h3>Welcome aboard to Your Web Project.</h3>

<p>
    Thanks for confirming your email address.</a>.
</p>

<p>Thanks,<br/>Your Web Project Team!</p>
</body>

</html>